/* changing the backgroung just to make sure that this file is linked to the HTML file. -sam w */
html {
    background-color: lightgray;
}

.section {
    
    background-color: lightskyblue;
    padding: 2%;
    margin: 2%;
    height: 400px;   
}
